<div id="navbar" class="navbar">
    navbar
</div>

<div id="main-container" class="main-container">
    <div id="sidebar" class="sidebar">
        <div id="sidebar-shortcuts" class="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>
            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>

        </div>
        <ul class="nav nav-list">
            <li class="" ng-repeat="menu in menuList track by $index">
                <a href="#" ng-if="!menu.children">
                    <i class="menu-icon fa {{menu.icon}}"></i>
                    <span class="menu-text"> {{menu.name}} </span>
                </a>


                <a href="#" ng-if="menu.children" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="menu-icon fa {{menu.icon}}"></i>
                    <span class="menu-text"> {{menu.name}} </span>

                    <b class="arrow fa fa-angle-down" ng-if="menu.children"></b>
                </a>

                <b class="arrow"></b>
                <ul class="submenu" ng-if="menu.children">
                    <li class="" ng-repeat="submenu in menu.children">
                        <a href="#" class="">
                            <i class="menu-icon fa fa-{{submenu.icon}}"></i>
                            {{submenu.name}}
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Dashboard</li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div ui-view=""></div>
            </div>
        </div>
    </div>
</div>